.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 8px;
}

.icon {
    font-size: 50px;
    margin-bottom: 10px;
}

.img-card {
    width: 190px;
}

.tag-p {
    font-size: 1.5em;
    font-weight: 600;
}

.swiper-button-next {
    right: -50px;
}

.swiper-button-prev {
    left: -50px;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: var(--primary-color);
    padding: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    transform: scale(1.1);
}

.swiper-button-next::after,
.swiper-button-prev::after {

    color: #fff;
}

/*Pagina dos cards*/

.img-fundo {
    background: url(../../../public/assets/images/imagem-cards.svg) no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin-bottom: 40px;
    padding: 100px 0 0 30px;
}
.img-cards {
    width: 100%;
    height: 300px;
    padding: 20px;
    background-color: var(--terciary-color);
    border-radius: 40px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.img-cards:hover {
    transform: scale(1.05);
}
.img-cards h3 {
    color: #fff;
}
.img-cards img {
    width: 200px;
}
.Sobre-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.titulo-card {
    margin: 20px 0 20px 70px;
}